:root {
    --text-primary-color: #000000;
    --text-secondary-color: #504f4f;
    --text-font-family: 'Inter', sans-serif;
    --title-font-family: 'Jomhuria', cursive;
    --title-color: #18742f;
    --card-color: #fff0ae8f;
}

*{
    margin: 0;
}

h1 {
    font-family: var(--title-font-family);
    color: var(--title-color);
    text-align: center;
    font-size: clamp(2rem, 5rem + 2vw, 6rem);
    margin: 0;
    margin-top: 20px;
    font-weight: 500;
}

h2 {
    font-family: var(--title-font-family);
    font-weight: 500;
    font-size: 50px;
}

h3 {
    font-family: var(--text-font-family);
}

p{
    font-family: var(--text-font-family);
    color: var(--text-secondary-color);
    font-size: 14px;
}